:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,160,240);
background: linear-gradient(135deg, rgba(255,160,240,1) 0%, rgba(176,173,255,0.8239670868347339) 50%, rgba(173,241,255,1) 100%);
}

body {
  margin: 0;
  min-height: 100vh;
}
